#pages {
	background-color: #f7f7f7;
}

#vimeo {
	width: auto;
	height: auto;
}

.inner {
	width: 100%;
	height: auto;
	position: relative;
	margin: auto;
}

#menu_bar {
	width: 620px;
	height: auto;
	padding-top: 38px;
	padding-bottom: 57px;
	margin: auto;
}

.element {
	padding-left: 15px;
	padding-right: 15px;
	border-right: 1px solid #7e8997;
	position: relative;
	display: inline-block;
	letter-spacing: 0.1em;
}

.disable {
	color: #7e8997;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.1em;
}

.enable {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #1d1f22;
	letter-spacing: 0.1em;
}

a:link {
	text-decoration: none;
}

a:visited {
	color: #1d1f22;
}

a:focus, a:hover {
	color: #1d1f22;
}

#snap {
	padding-right: 0px;
	border-right: 0px;
}

#todo {
	padding-left: 0px;
}

.content {
	padding-bottom: 30px;
	top: 0px;
}

.border {
	border: 1px solid black;
}

.title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #1d1f22;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.1em;
}

.subtitle {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: italic;
	color: #7e8997;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.1em;
}

p {
    margin: 0 0 0px;
}

.img {
	padding-bottom: 16px;
}

#footer {
	background-color: #0b151e;
	height: 70px;
	width: auto;
	margin-top: 90px;
}

.social {
	display: inline;
	padding-right: 20px;
	margin-top: auto;
}

#youtube {
	padding-right: 0px;
}

#in_social {
	width: 210px;
	margin: auto;
	padding-top: 20px;
}
}

/* Agregue esto */
#uno{
    top: 0px;
    width: 100%;
    margin: auto;
}

@media(max-width: 574px) {
	.element {
	    padding-left: 5px;
	    padding-right: 5px;
	}
}

@media(max-width: 470px) {
	#menu_bar {
	    width: 320px;
	}

	#todo {
    	padding-left: 16px;
    	padding-right: 30px;
	}

	#element2 {
		padding-left: 30px;
    	padding-right: 30px;
    	margin-bottom: 10px;
	}

	#element3 {
		border-right: 0px;
    	padding-right: 0px;
    	padding-left: 10px;
	}

	#element4 {
		padding-right: 15px;
		padding-left: 0px;
	}

	#element5 {
		padding-left: 15px;
    	padding-right: 15px;
	}

	#snap {
		padding-left: 15px;
	}

}